.playlist__img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

.playlist__img-icon {
  padding: 6rem;
}

.playlist__item {
  transition: 0.2s;
}

.playlist__item-stat {
  font-family: 'Montserrat', sans-serif;
}

.playlist__item:hover {
  scale: 1.1;
}
